@font-face {
  font-family: EXO;
  src: url(../fonts/Exo-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: EXO;
  src: url(../fonts/Exo-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: EXO;
  src: url(../fonts/Exo-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: EXO;
  src: url(../fonts/Exo-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: EXO;
  src: url(../fonts/Exo-Black.ttf);
  font-weight: 900;
}

:root {
  --dark-color-100: #101828;
  --dark-color-200: #364153;
  --dark-color-300: #314158;
  --dark-color-400: #1d293d;
  --light-dark-color: #ffffff1a;

  --main-color: #7f22fe;
  --main-text-color: #4a5565;
  --nav-border-color: #e2e8f0;
  --gray-80: #f9f3ff;
  --gray-100: #f9fafb;
  --gray-200: #f5f3ff;
  --gray-300: #d1d5dc;
  --gray-400: #99a1af;
  --gray-500: #6a7282;
  --gray-600: #ede9fe;
  --gray-700: #ddd6ff;
  --gray-800: #f3e8ff;

  --pink-200: #c4b4ff;
  --pink-400: #e60076;

  --red-300: #fb2c36;

  --purple-outline: #8e51ff;
  --purple-400: #a684ff;
  --purple-500: #9810fa;
  --purple-600: #7008e7;
  --purple-700: #8200db;

  --green-200: #dbfce7;
  --green-300: #00a63e;
  --green-400: #008236;

  --yellow-200: #fef9c2;
  --yellow-500: #d08700;
  --yellow-600: #a65f00;

  --blue-200: #e0e7ff;
  --blue-500: #4f39f6;
  --blue-600: #432dd7;

  --main-fs: 16px;
  --main-header-fs: 60px;
  --main-header-fs-md-screen: 48px;
  --lg-fs-large: 36px;
  --lg-fs-light: 30px;
  --sm-fs-large: 18px;
  --sm-fs-light: 14px;
  --sm-fs-lighter: 12px;

  --lh-superTight: 1;
  --lh-strongTight: 1.1;
  --lh-tight: 1.2;
  --lh-lessTight: 1.25;
  --lh-lesserTight: 1.35;
  --lh-mostLesserTight: 1.4;
  --lh-lessestTight: 1.45;
  --lh-normal: 1.5;
  --lh-little-loose: 1.55;
  --lh-lessertiny-loose: 1.6;
  --lh-loose: 1.65;
}

html::selection,
body::selection {
  background: var(--purple-400);
  color: #fff;
}

body {
  font-family: EXO, sans-serif;
  color: var(--main-text-color);
  font-size: var(--main-fs);
  line-height: var(--lh-normal);
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

section {
  padding-block: 80px;
}

.my-btn {
  padding-inline: 32px;
  background: linear-gradient(to right, var(--main-color), var(--purple-500));
  transition: background 0.3s;
}

.my-btn:hover {
  background: linear-gradient(to right, #7108e7, #8200da);
}

.container {
  max-width: 1280px;
  padding-inline: 1.5rem;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title .sub-title {
  color: var(--purple-600);
  background: #f9f5ff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: var(--sm-fs-lighter);
  line-height: var(--lh-lesserTight);
  padding: 9px 20px;
  border: 2px solid var(--gray-700);
}

.title .line {
  display: inline-block;
  width: 64px;
  height: 2px;
}

.title .start-line {
  background: linear-gradient(to right, transparent, var(--main-color) 60%);
  margin-right: 10px;
}

.title .end-line {
  background: linear-gradient(
    to right,
    var(--main-color),
    #c47cfe 70%,
    transparent
  );
  margin-left: 10px;
}

.title h2 {
  font-size: var(--main-header-fs-md-screen);
  line-height: var(--lh-superTight);
  font-weight: 900;
  background: linear-gradient(
    to right,
    var(--purple-500) 40%,
    #9810faad,
    #fe9a00
  );
  background-clip: text;
  color: transparent;
  width: fit-content;
}

.title p {
  line-height: var(--lh-mostLesserTight);
  max-width: 672px;
}

form.my-form textarea,
form.my-form select,
form.my-form input:not([type="checkbox"]) {
  transition:
    outline 0.3s,
    border-color 0.3s;
}

form.my-form textarea:focus,
form.my-form select:focus,
form.my-form input:focus:not([type="checkbox"]) {
  box-shadow: none;
  border-color: var(--purple-outline);
  outline: 2px solid var(--purple-outline);
  outline-offset: 2px;
}

form.my-form label {
  color: var(--dark-color-200);
}

form.my-form textarea,
form.my-form select,
form.my-form input {
  padding-block: 12px;
}

form.my-form input::placeholder,
form.my-form textarea::placeholder {
  color: var(--gray-400);
}

nav {
  border-bottom: 1px solid var(--nav-border-color);
  box-shadow:
    0 4px 6px -1px #0000001a,
    0 2px 4px -2px #0000001a;
}

nav .container {
  padding-block: 17px;
}

nav .navbar-brand:hover,
nav .navbar-brand {
  color: var(--dark-color-400);
}

.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-nav {
  column-gap: 31px;
  row-gap: 8px;
}

.navbar-nav .nav-link {
  padding: 0;
}

.dropdown-menu .resources h3,
.dropdown-menu .property-types a span,
.navbar-toggler,
.navbar-nav .nav-link {
  transition: color 0.3s;
}

.navbar-toggler,
.navbar-nav .nav-link {
  color: var(--dark-color-300);
  font-weight: 500;
}

.navbar-nav .nav-link.active {
  color: #7c3aed;
  font-weight: 600;
}

.my-dropdown-menu {
  width: 1200px;
  max-height: calc(100dvh - 80px);
  transform: translateX(-53%);
  box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
}

.dropdown-menu .resources .guide:hover h3,
.dropdown-menu .resources .guide a,
.dropdown-menu .resources .guide span,
nav.navbar button.dropdown-toggle.show,
.dropdown-menu .property-types a:hover span,
.navbar-toggler:hover,
.navbar-nav .nav-link:hover {
  color: var(--main-color);
}

.my-nav-btn button i {
  font-size: var(--sm-fs-lighter);
}

.dropdown-menu .resources .guide i,
.my-nav-btn button i {
  transition: transform 0.3s;
}

.my-nav-btn button.show i {
  transform: rotate(180deg);
}

.my-nav-btn::after,
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 110%;
  height: 2px;
  width: 0;
  background: #8958f5;
  transition: width 0.3s;
}

.navbar-nav .nav-link.active::after,
.my-nav-btn:hover:after,
.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.dropdown-menu .popular-locations h3,
.dropdown-menu .resources h3,
.dropdown-menu h2 {
  font-size: var(--sm-fs-large);
  line-height: var(--lh-little-loose);
  margin-bottom: 16px;
}

.dropdown-menu .popular-locations .cities div,
.dropdown-menu .item {
  cursor: pointer;
}

.dropdown-menu .featured-properties .item {
  padding: 12px;
  transition: background 0.3s;
}

.dropdown-menu .featured-properties .item:hover {
  background: var(--gray-100);
}

.dropdown-menu .featured-properties .item img {
  margin-right: 12px;
  width: 64px;
  height: 64px;
}

.dropdown-menu .item-summary,
.dropdown-menu .resources a,
.dropdown-menu .popular-locations span,
.dropdown-menu .featured-properties p,
.dropdown-menu .featured-properties h3 {
  font-size: var(--sm-fs-light);
  line-height: var(--lh-mostLesserTight);
}

.dropdown-menu .item-summary {
  color: var(--gray-500);
}

.dropdown-menu .property-types li {
  color: var(--main-text-color);
}

.dropdown-menu .property-types li i {
  color: var(--gray-400);
}

.dropdown-menu .popular-locations .cities,
.dropdown-menu .property-types .navbar-nav {
  gap: 12px;
}

.dropdown-menu .popular-locations span {
  color: var(--gray-700);
}

.dropdown-menu .popular-locations .cities div {
  padding: 14px;
  background-position: 50%;
  background-size: cover;
  transition: background-image 0.3s;
}

.dropdown-menu .popular-locations .new-york {
  background-image:
    linear-gradient(to right, #4e179a8e, #58168b94),
    url(../images/new-york.jpeg);
}

.dropdown-menu .popular-locations .los-angeles {
  background-image:
    linear-gradient(to right, #4e179a8e, #58168b94),
    url(../images/los-angeles.jpeg);
}

.dropdown-menu .popular-locations .miami {
  background-image:
    linear-gradient(to right, #4e179a8e, #58168b94), url(../images/miami.jpeg);
}

.dropdown-menu .popular-locations .new-york:hover {
  background-image:
    linear-gradient(to right, #4e179aaf, #58168ba4),
    url(../images/new-york.jpeg);
}

.dropdown-menu .popular-locations .los-angeles:hover {
  background-image:
    linear-gradient(to right, #4e179aaf, #58168ba4),
    url(../images/los-angeles.jpeg);
}

.dropdown-menu .popular-locations .miami:hover {
  background-image:
    linear-gradient(to right, #4e179aaf, #58168ba4), url(../images/miami.jpeg);
}

.dropdown-menu .resources .item {
  padding: 20px;
  border: 1px solid;
  transition: border-color 0.3s;
}

.dropdown-menu .resources .guide {
  border-color: var(--gray-600);
}

.dropdown-menu .resources .guide:hover {
  border-color: #e0d9ff;
}

.dropdown-menu .resources .tips {
  border-color: #dcfce7;
}

.dropdown-menu .resources .tips:hover {
  border-color: #b9f8cf;
}

.dropdown-menu .resources .reports {
  border-color: var(--gray-800);
}

.dropdown-menu .resources .reports:hover {
  border-color: #e9d4ff;
}

.dropdown-menu .resources .item::after {
  content: "";
  position: absolute;
  width: 128px;
  height: 128px;
  top: -64px;
  right: -64px;
  border-radius: 50%;
  transition: background 0.3s;
}

.dropdown-menu .resources span {
  width: 40px;
  height: 40px;
}

.dropdown-menu .resources .guide::after {
  background: #f8f6ff;
}

.dropdown-menu .resources .guide:hover:after {
  background: var(--gray-200);
}

.dropdown-menu .resources .guide span {
  background: var(--gray-600);
}

.dropdown-menu .resources .tips:hover h3,
.dropdown-menu .resources .tips a,
.dropdown-menu .resources .tips span {
  color: var(--green-300);
}

.dropdown-menu .resources .tips::after {
  background: #f2fdf6;
}

.dropdown-menu .resources .tips:hover:after {
  background: #eefef3;
}

.dropdown-menu .resources .tips span {
  background: var(--green-200);
}

.dropdown-menu .resources .reports:hover h3,
.dropdown-menu .resources .reports a,
.dropdown-menu .resources .reports span {
  color: var(--purple-500);
}

.dropdown-menu .resources .reports::after {
  background: var(--gray-80);
}

.dropdown-menu .resources .reports:hover:after {
  background: #f9f4ff;
}

.dropdown-menu .resources .reports span {
  background: var(--gray-800);
}

.dropdown-menu .resources p {
  color: var(--main-text-color);
}

.dropdown-menu .resources .guide:hover a i {
  transform: translateX(50%);
}

.hero {
  padding-top: 80px;
  background-image:
    linear-gradient(to right, #4d179acc, #59168bcc),
    url(../images/hero-bg-img.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero .container {
  max-width: 900px;
}

h1 {
  font-size: var(--main-header-fs);
  line-height: var(--lh-lessTight);
}

.hero p {
  line-height: var(--lh-loose);
  width: 80%;
}

.hero form {
  box-shadow: 0 25px 50px -12px #00000040;
}

.hero form label {
  font-size: var(--sm-fs-light);
  line-height: var(--lh-mostLesserTight);
}

.location-input i {
  color: var(--gray-400);
}

.hero form input,
.hero form select {
  border: 1px solid var(--gray-300);
}

.location-input i {
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.hero .my-btn {
  font-size: var(--sm-fs-large);
  line-height: var(--lh-little-loose);
}

.hero .top {
  font-size: var(--lg-fs-light);
  line-height: var(--lh-tight);
}

section.featured-properties {
  background: var(--gray-100);
}

.featured-properties .card .like,
.featured-properties .card .photos,
.featured-properties .card-img-top {
  cursor: pointer;
}

.featured-properties .card-img-top {
  height: 256px;
  transition: transform 0.3s;
}

.featured-properties .card:hover .card-img-top {
  transform: scale(1.1);
}

.featured-properties .card .photos,
.featured-properties .card .tag {
  padding: 4px 12px;
  left: 16px;
}

.featured-properties .card .photos {
  bottom: 16px;
  background: #000000ad;
}

.featured-properties .card .like {
  top: 16px;
  right: 16px;
  padding: 10px 8px;
  color: var(--main-text-color);
  background: #ffffffd5;
  transition: color 0.3s;
}

.featured-properties .card .like:hover {
  color: var(--red-300);
}

.featured-properties .card .tag {
  top: 16px;
}

.featured-properties .card .featured-tag {
  background: var(--main-color);
}

.featured-properties .card .new-listing-tag {
  background: var(--green-300);
}

.featured-properties .card .price-drop-tag {
  background: #e17100;
}

.featured-properties .card__image span {
  font-size: var(--sm-fs-light);
  line-height: var(--lh-mostLesserTight);
}

.featured-properties .Price-per {
  color: var(--gray-500);
}

.featured-properties h3 {
  font-size: var(--lh-normal);
  line-height: var(--lh-normal);
}

.featured-properties .card .seller__name,
.featured-properties p {
  color: var(--main-text-color);
}

.featured-properties .card button,
.featured-properties .card .price {
  color: var(--main-color);
}

.featured-properties .card .price {
  font-size: var(--lg-fs-light);
  line-height: var(--lh-tight);
}

.featured-properties .card .seller__name,
.featured-properties .card button,
.featured-properties .card .Price-per {
  font-size: var(--sm-fs-light);
  line-height: var(--lh-mostLesserTight);
}

.featured-properties .card .seller img {
  width: 32px;
  height: 32px;
}

.featured-properties .card button {
  background: var(--gray-600);
  transition: background 0.3s;
}

.featured-properties .card button:hover {
  background: var(--gray-700);
}

.featured-properties .my-btn {
  width: fit-content;
}

.our-services__content {
  padding-inline: 40px;
}

.our-services .nav-link {
  color: var(--main-text-color);
  border-bottom: 2px solid transparent;
  transition:
    color 0.3s,
    border-color 0.3s;
}

.our-services .nav-link:hover {
  color: var(--main-color);
  border-color: var(--pink-200);
}

.our-services .nav-link.active {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  background: var(--gray-200);
}

.our-services .my-nav-pills {
  border-bottom: 1px solid #ebe6e7;
}

.our-services .my-tab-content {
  margin-top: 32px;
}

.our-services .rate-card {
  bottom: -20px;
  width: fit-content;
}

.our-services .purple-theme .rate-card,
.our-services .pink-theme .rate-card,
.our-services .blue-theme .rate-card {
  left: 0;
}

.our-services .green-theme .rate-card,
.our-services .dark-yellow-theme .rate-card {
  right: -24px;
}

.our-services h3 {
  font-size: var(--lg-fs-light);
  line-height: var(--lh-tight);
}

.our-services h4 {
  line-height: var(--lh-mostLesserTight);
}

.our-services .main-disctaption {
  font-size: var(--sm-fs-large);
  line-height: var(--lh-little-loose);
}

.our-services .purple-theme .content span {
  color: var(--main-color);
  background: var(--gray-600);
}

.our-services .green-theme .content span {
  color: var(--green-300);
  background: var(--green-200);
}

.our-services .pink-theme .content span {
  color: var(--purple-500);
  background: var(--gray-800);
}

.our-services .dark-yellow-theme .content span {
  color: var(--yellow-500);
  background: var(--yellow-200);
}

.our-services .blue-theme .content span {
  color: var(--blue-500);
  background: var(--blue-200);
}

.our-services .content span {
  padding: 12px;
  height: fit-content;
}

.our-services h3,
.our-services h4 {
  color: var(--dark-color-100);
}

.our-services .purple-theme .my-btn {
  background: var(--main-color);
}

.our-services .green-theme .my-btn {
  background: var(--green-300);
}

.our-services .pink-theme .my-btn {
  background: var(--purple-500);
}

.our-services .dark-yellow-theme .my-btn {
  background: var(--yellow-500);
}

.our-services .blue-theme .my-btn {
  background: var(--blue-500);
}

.our-services .my-btn {
  margin-top: 32px;
}

.our-services .purple-theme .my-btn:hover {
  background: var(--purple-600);
}

.our-services .green-theme .my-btn:hover {
  background: var(--green-400);
}

.our-services .pink-theme .content .my-btn:hover {
  background: var(--purple-700);
}

.our-services .dark-yellow-theme .my-btn:hover {
  background: var(--yellow-600);
}

.our-services .blue-theme .my-btn:hover {
  background: var(--blue-600);
}

.our-services .image-container {
  height: 384px;
}

.our-services .purple-theme .rate-card .top {
  color: var(--main-color);
}

.our-services .green-theme .rate-card .top {
  color: var(--green-300);
}

.our-services .pink-theme .rate-card .top {
  color: var(--purple-500);
}

.our-services .dark-yellow-theme .top {
  color: var(--yellow-500);
}

.our-services .blue-theme .top {
  color: var(--blue-500);
}

.testimonials {
  background: linear-gradient(to right, #59168b, #4d179a);
}

.testimonials .title .end-line {
  background: linear-gradient(to right, #fd9900, #ee72f3 40%, #4d179a);
}

.testimonials .title .start-line {
  background: linear-gradient(to right, #59168b, #fd9900 60%);
}

.testimonials .title p {
  color: var(--gray-700);
}

.my-carousel {
  margin-inline: 40px;
  padding-inline: 80px;
}

.testimonials .carousel-item {
  min-height: 355px;
}

.testimonials .my-carousel-item {
  padding: 32px;
  margin-inline: 32px;
}

.testimonials .my-carousel-indicators {
  margin-top: 32px;
}

.testimonials .my-carousel-indicators button {
  height: 12px;
  width: 12px;
}

.testimonials .my-carousel-control {
  padding: 16px 14px;
  height: fit-content;
  width: fit-content;
  background: #ffffff34;
  color: #fff;
  opacity: 1;
  top: 50%;
  transform: translateY(-70%);
  transition: background 0.3s;
}

.testimonials .my-carousel-control:hover {
  background: #ffffff56;
}

.testimonials .my-carousel-control.carousel-control-prev {
  left: 14px;
}

.testimonials .my-carousel-control.carousel-control-next {
  right: 14px;
}

.testimonials .my-carousel-item .stars {
  color: #ffb900;
  letter-spacing: -10px;
}

.testimonials .my-carousel-item blockquote {
  line-height: var(--lh-loose);
  color: var(--dark-color-200);
  margin-bottom: 32px;
}

.testimonials .my-carousel-item h3 {
  color: var(--dark-color-100);
  font-size: var(--sm-fs-large);
  line-height: var(--lh-little-loose);
}

.testimonials .my-carousel-item p {
  color: var(--gray-500);
  font-size: var(--sm-fs-light);
  line-height: var(--lh-mostLesserTight);
}

.testimonials .my-carousel-item .user__iamge {
  width: 64px;
  height: 64px;
}

.faq {
  background: var(--gray-100);
}

.faq .title h2 {
  color: #7f21fd;
}

.faq .my-accordion {
  max-width: 896px;
}

.accordion-body,
.faq .my-accordion-item button {
  padding-inline: 32px;
}

.faq .my-accordion-item button span {
  line-height: var(--lh-mostLesserTight);
  width: 95%;
}

.faq .my-accordion-item button:hover {
  background: var(--gray-100);
}

.faq .my-accordion-item button::after {
  display: none;
}

.faq .accordion-body,
.faq .my-accordion-item button i {
  color: var(--main-text-color);
}

.faq .accordion-body {
  line-height: var(--lh-lessertiny-loose);
}

.faq .my-accordion-item button i {
  right: 32px;
  transition: transform 0.3s;
}

.my-accordion-item button:focus,
.my-accordion-item button:not(.collapsed) {
  box-shadow: none;
}

.my-accordion-item button:not(.collapsed) {
  background: transparent;
  color: var(--dark-color-100);
}

.my-accordion-item button:focus {
  outline: none;
}

.my-accordion-item button:not(.collapsed) i {
  transform: rotate(180deg);
}

.contact {
  padding-block: 96px;
}

.contact .contact__mark {
  width: 384px;
  height: 384px;
  background: var(--gray-80);
  z-index: -1;
}

.contact .contact__mark::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  border: 4px solid var(--gray-700);
}

.contact .contact__mark.top-right {
  top: -160px;
  right: -160px;
}

.contact .contact__mark.top-right::after {
  width: 128px;
  height: 128px;
  bottom: 15px;
  left: 15px;
}

.contact .contact__mark.bottom-left {
  bottom: -160px;
  left: -160px;
}

.contact .contact__mark.bottom-left::after {
  width: 96px;
  height: 96px;
  top: 0;
  right: 0;
}

.contact-form__inner,
.info-card__inner {
  border: 2px solid #f6f3f4;
}

.info-card__inner {
  transition:
    border-color 0.5s,
    transform 0.5s;
  cursor: pointer;
}

.our-info-cards {
  margin-bottom: 64px;
}

.info-card__inner:hover {
  transform: translateY(-5%);
}

.info-card__inner .info-card__logo {
  width: 64px;
  height: 64px;
  transition: transform 0.5s;
}

.info-card__inner:hover .info-card__logo {
  transform: scale(1.06);
}

.contact-form__inner form label,
.info-card__inner h3 {
  font-size: var(--sm-fs-large);
  line-height: var(--lh-little-loose);
}

.contact-form__inner form .bottom-text,
.contact-form__inner form label,
.contact-info__links p,
.contact-info__contant p,
.info-card__inner p {
  font-size: var(--sm-fs-light);
  line-height: var(--lh-mostLesserTight);
}

.info-card__inner.purple-theme:hover {
  border-color: var(--pink-200);
}

.info-card__inner.purple-theme .info-card__logo {
  background: #873dff;
}

.info-card__inner.purple-theme .info-card__foot {
  color: var(--purple-600);
}

.info-card__inner.pink-theme:hover {
  border-color: #dab2ff;
}

.info-card__inner.pink-theme .info-card__logo {
  background: #9e27fe;
}

.info-card__inner.pink-theme .info-card__foot {
  color: #9e27fe;
}

.info-card__inner.red-theme:hover {
  border-color: #f4a8ff;
}

.info-card__inner.red-theme .info-card__logo {
  background: linear-gradient(to right bottom, #e34ae6 10%, #f99337);
}

.info-card__inner.red-theme .info-card__foot {
  color: var(--pink-400);
}

.info-card__inner.blue-theme:hover {
  border-color: #a3b3ff;
}

.info-card__inner.blue-theme .info-card__logo {
  background: #574bfb;
}

.info-card__inner.blue-theme .info-card__foot {
  color: var(--blue-600);
}

.contact-info__links,
.contact-info__contant {
  padding: 32px;
}

.contact-info__contant {
  background: #f6f7f9;
}

.contact-info__contant .line-logo {
  width: 48px;
  height: 48px;
}

.contact-info__contant .purple-theme .line-logo {
  color: var(--main-color);
}

.contact-info__contant .pink-theme .line-logo {
  color: var(--purple-500);
}

.contact-info__contant .red-theme .line-logo {
  color: var(--pink-400);
}

.contact-info__contant .blue-theme .line-logo {
  color: var(--blue-500);
}

.info-card__inner h3,
.contact-form__inner h3,
.contact-info__contant h4,
.contact-info__contant h3 {
  color: var(--dark-color-100);
}

.contact-info__links {
  background: linear-gradient(to right bottom, #8022fe, #9710fa);
}

.contact-info__links p {
  color: var(--gray-600);
}

.contact-info__links li a {
  width: 48px;
  height: 48px;
  background: var(--light-dark-color);
  transition:
    background 0.3s,
    transform 0.3s;
}

.contact-info__links li a:hover {
  background: #AE60FD;
  transform: scale(1.05);
}

.contact-form__inner {
  padding: 40px;
}

.contact-form__inner h3 {
  font-size: var(--lg-fs-light);
  line-height: var(--lh-tight);
}

.contact-form__inner form .form-check,
.contact-form__inner form textarea,
.contact-form__inner form select,
.contact-form__inner form input {
  background: var(--gray-100);
}

.contact-form__inner form textarea,
.contact-form__inner form select,
.contact-form__inner form input {
  border-radius: 0.7rem;
}

.contact-form__inner form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form__inner form input[type="checkbox"]:checked {
  accent-color: var(--main-color);
}

.contact-form__inner form textarea {
  resize: none;
}

.contact-form__inner form .my-btn {
  transition: transform 0.3s;
}

.contact-form__inner form .my-btn:hover {
  background: linear-gradient(to right, var(--main-color), var(--purple-500));
  transform: translateY(-5%);
}

footer {
  padding-block: 48px;
  background: linear-gradient(to right, #4d179a, #59168b);
}

.footer__top {
  border-bottom: 1px solid var(--light-dark-color);
}

.footer__top p {
  color: var(--gray-700);
}

.footer__top a {
  width: 40px;
  height: 40px;
  background: #682f9a;
  transition:
    background 0.3s,
    transform 0.3s;
}

.footer__top a:hover {
  background: var(--main-color);
  transform: scale(1.05);
}

.footer__bottom i {
  color: #ff6467;
}

.footer__bottom p {
  color: var(--pink-200);
  font-size: var(--sm-fs-light);
  line-height: var(--lh-mostLesserTight);
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }

  .my-dropdown-menu {
    max-width: 1000px;
    transform: translateX(-43%);
  }

  .my-carousel {
    margin-inline: 0;
  }

  .testimonials .my-carousel-item {
    margin-inline: 0;
  }

  .our-services__content {
    padding-inline: 0;
  }
}

@media screen and (max-width: 990px) {
  .title h2 {
    font-size: var(--lg-fs-large);
    line-height: var(--lh-strongTight);
  }

  .container {
    max-width: 768px;
  }

  .my-dropdown-menu,
  .hero p,
  .my-navbar-collapse {
    width: 100%;
  }

  .my-navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 1px solid var(--nav-border-color);
  }

  .navbar-nav {
    padding-block: 16px 10px;
  }

  .dropdown-menu .resources .item a,
  .dropdown-menu .resources .item::after,
  .my-nav-btn::after,
  .navbar-nav .nav-link::after,
  body:has(.my-navbar-collapse.show) .open-menu,
  body:not(:has(.my-navbar-collapse.show)) .close-menu {
    display: none;
  }

  body:not(:has(.my-navbar-collapse.show)) .open-menu,
  body:has(.my-navbar-collapse.show) .close-menu {
    display: block;
  }

  .navbar-nav .nav-link {
    transition:
      color 0.3s,
      background 0.3s;
  }

  .navbar-nav .nav-link:hover {
    background: var(--gray-200);
  }

  .navbar-nav .nav-link {
    padding: 12px 16px;
  }

  .my-nav-btn button i {
    position: absolute;
    right: 16px;
  }

  .my-dropdown-menu {
    max-height: calc(55dvh - 180px);
    transform: translateX(0);
  }

  .dropdown-menu .row:first-child {
    margin: 0;
  }

  .dropdown-menu .featured-properties .item {
    padding: 8px;
    background: #fff;
  }

  .dropdown-menu .featured-properties .item img {
    margin-right: 8px;
    width: 48px;
    height: 48px;
  }

  .dropdown-menu .item-summary,
  .dropdown-menu .popular-locations .cities span,
  .dropdown-menu .resources .item p,
  .dropdown-menu .featured-properties p,
  .dropdown-menu .featured-properties h3 {
    font-size: var(--sm-fs-lighter);
    line-height: var(--lh-lesserTight);
  }

  .resources,
  .popular-locations,
  .property-types,
  .featured-properties {
    background: #fbf9fa;
  }

  .dropdown-menu h2 {
    margin-bottom: 12px;
  }

  .dropdown-menu .property-types .navbar-nav {
    padding: 0;
    gap: 0;
  }

  .dropdown-menu h2,
  .dropdown-menu .popular-locations .cities h3,
  .dropdown-menu .property-types .navbar-nav,
  .dropdown-menu .resources i,
  .dropdown-menu .resources h3 {
    font-size: var(--sm-fs-light);
    line-height: var(--lh-mostLesserTight);
  }

  .dropdown-menu .property-types li {
    width: 50%;
  }

  .dropdown-menu .resources span {
    width: 32px;
    height: 32px;
  }

  .dropdown-menu .resources .item:hover h3 {
    color: inherit;
  }

  .dropdown-menu .popular-locations .cities div {
    padding: 12px;
  }

  .hero {
    padding-block: 160px 80px;
  }

  .hero .container {
    max-width: 720px;
  }

  h1 {
    font-size: var(--main-header-fs-md-screen);
  }

  .faq .my-accordion {
    max-width: 720px;
  }

  .contact .contact__mark {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title h2 {
    font-size: var(--lg-fs-light);
    line-height: var(--lh-tight);
  }

  .container {
    max-width: 640px;
  }

  .testimonials .carousel-item {
    padding: 16px;
  }

  .testimonials .my-carousel-control {
    display: none;
  }

  .my-carousel {
    padding-inline: 0;
  }
}

@media screen and (max-width: 639px) {
  .my-dropdown-menu {
    max-height: calc(89dvh - 180px);
  }
}
